/.project
/.settings/
/formats/Ejercicios_json/.gradle/
/formats/Ejercicios_json/.settings/
/formats/Ejercicios_json/bin/
/formats/Ejercicios_json/build/
/formats/Ejercicios_json/.classpath
/formats/Ejercicios_json/.project
/servlets/todoServlet/.gradle/
/servlets/todoServlet/.settings/
/servlets/todoServlet/bin/
/servlets/todoServlet/build/
/servlets/todoServlet/.classpath
/servlets/todoServlet/.project