/.project
.settings/
/formats/Ejercicios_json/.gradle/
/formats/Ejercicios_json/.settings/
/formats/Ejercicios_json/bin/
/formats/Ejercicios_json/build/
/formats/Ejercicios_json/.classpath
/formats/Ejercicios_json/.project
/inicio_servlets/.gradle/
/inicio_servlets/.settings/
/inicio_servlets/.project
/inicio_servlets/.classpath
/inicio_servlets/Servlets/.gradle/
/inicio_servlets/Servlets/.settings/
/inicio_servlets/Servlets/bin/
/inicio_servlets/Servlets/build/
/inicio_servlets/Servlets/.classpath
/inicio_servlets/Servlets/.project
/bigws/.gradle/
/bigws/.settings/
/bigws/.project
/bigws/.classpath
/bigws/todo-cli-ws/.gradle/
/bigws/todo-cli-ws/.settings/
/bigws/todo-cli-ws/bin/
/bigws/todo-cli-ws/build/
/bigws/todo-cli-ws/.classpath
/bigws/todo-cli-ws/.project
/bigws/todo-server/.gradle/
/bigws/todo-server/.settings/
/bigws/todo-server/bin/
/bigws/todo-server/build/
/bigws/todo-server/.classpath
/bigws/todo-server/.project