/.project
/.settings/
/formats/Ejercicios_json/.gradle/
/formats/Ejercicios_json/.settings/
/formats/Ejercicios_json/bin/
/formats/Ejercicios_json/build/
/formats/Ejercicios_json/.classpath
/formats/Ejercicios_json/.project
/inicio_servlets/.gradle/
/inicio_servlets/.settings/
/inicio_servlets/.project
/inicio_servlets/.classpath
/inicio_servlets/Servlets/.gradle/
/inicio_servlets/Servlets/.settings/
/inicio_servlets/Servlets/bin/
/inicio_servlets/Servlets/build/
/inicio_servlets/Servlets/.classpath
/inicio_servlets/Servlets/.project